DirectorySlash Off
RewriteEngine On
# RewriteBase не требуется, так как .htaccess находится в DocumentRoot
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ apimain.php [QSA,L]
